.layout-container {
  display: flex;
  height: 100%;

  .side-bar {
    display: flex;
    background-color: #020203;
    max-width: 117px;
    flex-direction: column;
    justify-content: flex-end;
    height: 105%;
    padding: 0 27px;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    @include desktop {
      height: 120%;
    }

    .side-bar-content {
      display: flex;
      height: 618px;
      justify-content: space-between;
      flex-direction: column;
      margin-bottom: 60px;
      align-items: center;
      .sport-icons {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        .sport-icon {
          align-items: center;
          max-width: 64px;
          background: #FFFFFF;
          border-radius: 6px;
          padding: 14px 14px;
          margin-bottom: 20px;
          &:hover {
            transform: scale(1.1);
          }
        }
      }
      .copyright {
        width: 138px;
        margin: 0 0 60px 0;
        cursor: pointer;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 24px;
        color: #FFFFFF;
        transform: rotate(-90deg);
      }
    }

  }
}
